* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

a:hover {
	text-decoration: underline;
}

.main-wrapper {
	max-width: 1300px;
	margin: 0 auto;
}

/* Header */
header:after {
	clear: both;
	display: table;
	content: "";
}

header {
	background-image: url(../images/header-bg.jpg);
	min-height: 800px;
	position: relative;
	background-size: cover;
}

/* Logo */
.logo {
	margin-top: 50px;
	float: left;
}

/* Menu */
.menu {
	background: #281f2e;
	position: fixed;
	right: 0;
	text-align: center;
	z-index: 99999;
}

.menu li {
	list-style: none;
}

.menu li a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	padding: 25px 20px 25px 20px;
	display: block;
}

.menu li a:hover {
	background: #2e2436;
}

.header{
	background: #372b40;
	top: 602px;
	color: #fff;
	font-size: 14px;
	left: 0;
	line-height: 1.5;
	max-width: 370px;
	padding: 5px 15px 25px 25px;
	position: absolute;
}

.header-bg {
	background: rgba(46, 36, 54, 0.8);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.header h3 {
	font-size: 18px;
	padding-top: 15px;
}

/* Get Started Button*/
.get-started-wrapper {
	top: 695px;
	color: #fff;
	position: absolute;
 	right: 20px;
}

.get-started-wrapper h3 {
	font-size: 18px;
	font-weight: normal;
}

.get-started {
	background: #a33435;
	color: #fff;
	display: block;
	font-size: 18px;
	margin-top: 5px;
	padding: 7px 37px;
	text-decoration: none;
	text-transform: uppercase;
}

.get-started-btn,
.load-more-btn {
	margin: 0 0 1px 3px;
}

/* Services */
#services {
	background: #3c2c45;
	padding-bottom: 25px;
}

#services:after {
	clear: both;
	content: "";
	display: table;
}

.services-title {
	color: #fff;
	font-size: 14px;
	margin-bottom: 100px;
	padding-top: 40px;
}

.services-title h1,
.title-about-us h1,
.our-work-title h1,
.contact-title h1 {
	font-size: 30px;
	margin: 0;
}

.services-title h1:after,
.title-about-us h1:after,
.our-work-title h1:after,
.contact-title h1:after {
	background: url(../images/title-border.png);
	clear: both;
	content: "";
	display: table; 
	height: 2px;
	position: relative;
	top: 30px;
	width: 100px;
}

.title {
	color: #fff;
	font-size: 30px;
}

/* Left Column */
.left-column {
	box-sizing: border-box;
	float: left;
	padding: 0 20px 20px 0;
	width: 50%;
}

.left-content{
	color: #fff;
	font-size: 14px;
	padding-bottom: 40px;
}

.left-content-title {
	padding-bottom: 7px;
}

/* Right Column */
.right-column {
	box-sizing: border-box;
	float: left;
	padding: 20px 0 0 85px;
	position: relative;
	width: 50%;
}

.devices {
	max-width: 100%;
}

/* About Us */
#about-us {
	background: #312638;

}

.title-about-us,
.our-work-title,
.contact-title {
	color: #fff;
	font-size: 14px;
	margin-bottom: 85px;
	padding-top: 40px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px;
	position: relative;
}

.about-us-content {
	color: #fff;
	font-size: 14px;
}

.about-us-content h2,
.our-team-title  {
	color: #fff;
	font-size: 18px;
	padding-bottom: 10px;
}

/* Team Section */
.team {
	margin-top: 60px;
	padding-bottom: 70px;
}

.team:after {
	clear: both;
	content: "";
	display: block;
}

.team-item {
	background: #312638;
	box-sizing: border-box;
	float: left;
	padding: 0 15px;
	width: 33%;
	min-width: 240px;
}

.team-item-bg {
	background: #281f2e;
	padding-top: 20px;
}


.img-team {
	display: block;
	height: 180px;
	width: 180px;
	margin: 40px auto 20px;
}

 .left {
	background-image: url(../images/john-doe.png);
}

.center {
	background-image: url(../images/jane-de-sign.png);
}

.right {
	background-image: url(../images/lord-devel.png);
}


.info-title {
	color: #fff;
	text-align: center;
}

.info-title-type {
	color: #a33435;
	padding-bottom: 25px;
	text-align: center;
}

/* Social Icon */
.team-item-social-icons {
	background: #a33435;
}

.team-item-social-icons-wrapper {
	margin: 0 auto;
	width: 132px;
}

.team-item-social-icons-wrapper a {
	display: inline-block;
	margin: 10px 0;
}

.team-item-social-icons-wrapper a:nth-child(2) {
	margin: 0 30px;
}

/* Our Work*/
#our-work {
	background: #372b40;
	position: relative;
}

.wrapper:after {
	clear: both;
	content: "";
	display: table;
}

.work-item {
	background: #372B40;
	box-sizing: border-box;
	float: left;
	margin-bottom: 150px;
	padding: 0 15px;
	width: 33%;
}

.work-item-bg {
	background-color: #fff;
}

.img-work {
	max-width: 100%;
}

.work-name {
	color: #281f2e;
	font-size: 18px;
	font-weight: bold;
	padding: 30px 0 15px 0;
	text-align: center;
}

.work-type {
	color: #484848;
	font-size: 14px;
	padding-bottom: 30px;
	text-align: center;
}

/* Load More Button*/
.load-more-wrapper {
	bottom: 40px;
	color: #fff;
	position: absolute;
	right: 0;
 }

.load-more,
.submit {
	background: #a33435;
	color: #fff;
	display: block;
	font-size: 18px;
	padding: 13px 50px;
	text-decoration: none;
}

/* Contact section */

.contact-form {
	background: #3d3047 url(../images/contact-bg.jpg);
	padding-bottom: 140px;
	background-size: cover;
}


.input-wrapper{
	float: left;
	max-width: 565px;
	padding-right: 36px;
}

.input-wrapper:after {
	clear: both;
	content: "";
	display: table;
}

.input {
	border: 3px solid #372b40;
	box-sizing: border-box;
	float: left;
	max-width: 565px;
	outline: none;
	padding: 12px;
	width: 100%;
}
.input:nth-child(2) {
	margin: 27px 0;
}

.textarea-wrapper {
	display: inline-block;
	width: 100%;
	max-width: 565px;
}

 textarea {
	border: 3px solid #372b40;
	display: inline-block;
	max-width: 525px;
	outline: none;
	padding: 12px 17px;
	position: relative;
	resize: none;
	width: 100%;
 }

 .submit {
 	border: none;
 	float: right;
 	margin-bottom: 50px;
 	margin-top: 30px;
 	padding: 13px 30px;
 }

 .submit img {
 	padding-right: 10px;
 }

/* Footer */
 footer {
 	background: #281f2e;
 }

.copyring {
	float: left;
	color: #fff;
	font-size: 14px;
	padding: 30px 0;
}

.social {
	list-style: none;
	float: right;
	padding: 26px 0;
 }

.social li {
	float: left;
}

.twitter,
.facebook,
.dribbble {
	padding-right: 10px;
}