* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

a:hover {
	text-decoration: underline;
}

.main-wrapper {
	max-width: 1300px;
	margin: 0 auto;
}

/* Header */
header:after {
	clear: both;
	display: table;
	content: "";
}

header {
	background-image: url(../images/header-bg.jpg);
	min-height: 800px;
	position: relative;

}

/* Logo */
.logo {
	margin: 50px 0 0 65px;
	float: left;
}

/* Menu */
.menu {
	float: right;
	background: #281f2e;
	text-align: center;
}

.menu li {
	list-style: none;
}

.menu li a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	padding: 25px 20px 25px 20px;
	display: block;
}

.menu li a:hover {
	background: #2e2436;
}

/* Menu icon */
.home::before {
	clear: both;
	content: "";
	display: table; 
  	left: 13px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAASCAYAAABfJS4tAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4BpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMTgwMTE3NDA3MjA2ODExOERCQjhGNzExQzI0RkZBQiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0NDgwODVBQzJCMEExMUU1ODVCREJFOTlCODkzRjgxQSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0NDgwODVBQjJCMEExMUU1ODVCREJFOTlCODkzRjgxQSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNCAoV2luZG93cykiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDphNDAzOTU3My1jY2Y4LTg5NDMtODIzZS00YWQxMDM3YTE0OGEiIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDo4YWQwNmE0Ny1mMzlhLTExZTQtYWQ1OC1kYjc0MmRiMWU1MjMiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz41LEt9AAABPElEQVR42tSSvUoDQRSFNz+NlTaKEFQEY6FiaZVuwUbwHSSmt7VWG4s8gp2VYhHwCTRCtJD0ImwqKzWdaDF+IyfkJuyYNdp44GN37p57dnb2Rs65KAMxdERs6nV4Fte2J0toFd5dX/5+R89OTT2xfcUorBwcwb7Wt7puwAmU5UlXYJcTcGZ2cw5zwtbfQjtOC52BG9NwDCvwINZUG9a3wavwKOMH1GATXkzAq2o1eVKD8+ZUYriCRejCFhTgEqaMb1K1gjxd1aeVMXDGu+bP+zeva5RGqS5vYiam2juKQ2NswRI0XHY11NMytQMf3NTiAspw734u37OsDK+mDy7BHuSh7cZXWxk+q5T7Oo++EpiPxlMHFnqLYsamBjzpfha2R3YMzXES+MyK8VQCnuAc/6n+f/DdL7IGej8FGABl/CL9ioG54AAAAABJRU5ErkJggg==) ;   
    bottom: 3px;
    height: 18px;  
    position: relative;  
    width: 22px;
}

.services::before {
	clear: both;
	content: "";
	display: table; 
  	left: 15px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4BpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMTgwMTE3NDA3MjA2ODExOERCQjhGNzExQzI0RkZBQiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpGQTBFRjBBNDJCMDgxMUU1OTJDMzlDMkUzQUQyNTREQiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpGQTBFRjBBMzJCMDgxMUU1OTJDMzlDMkUzQUQyNTREQiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNCAoV2luZG93cykiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDphNDAzOTU3My1jY2Y4LTg5NDMtODIzZS00YWQxMDM3YTE0OGEiIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDo4YWQwNmE0Ny1mMzlhLTExZTQtYWQ1OC1kYjc0MmRiMWU1MjMiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6cpl4PAAABDElEQVR42qTTTw7BQBTH8ZaIWDgBpRI3cQthYYO4Cg7gT9IbiKWllViKHaGWluxsMH6vmUlfatCOl3wTjH4y7WAJISyDimiFrqjF10wwBx1EOE/UNQWzaC/eh9AefccO1HjjoAeqIQ+lI+sEtePurISOaIcKqInump1ekmA05x/oJgk2RJ58rdAGQ0/ITYKNIrvhKJ26++2UCfPlhQMNpmYv0Zy6NqU5zRJaogoaonxwevrJyG7hWX/f2Vh8Hnpm5ejd8TdlhvVNMA5GsYkJpkCO0U9gZoop0Jf/xQ6a/oMpkGYhP7A/3K4fB+PgFrVRVYPGxjiopi4XuiaYDlyjuXymiTEdKEx3pnoJMAACacd/HcR9FwAAAABJRU5ErkJggg==) center ;   
    bottom: 3px;
    height: 20px;  
    position: relative;  
    width: 20px;
}

.about::before {
	clear: both;
	content: "";
	display: table; 
  	left: 15px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAWCAYAAADAQbwGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4BpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMTgwMTE3NDA3MjA2ODExOERCQjhGNzExQzI0RkZBQiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpEM0JEMjk4QzJCMEExMUU1QjU3NTk4NzQ5RUY5RTA5QSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpEM0JEMjk4QjJCMEExMUU1QjU3NTk4NzQ5RUY5RTA5QSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNCAoV2luZG93cykiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDphNDAzOTU3My1jY2Y4LTg5NDMtODIzZS00YWQxMDM3YTE0OGEiIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDo4YWQwNmE0Ny1mMzlhLTExZTQtYWQ1OC1kYjc0MmRiMWU1MjMiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz73UoL0AAABLklEQVR42qyUQUsCQRiGZ828J6TUSTvnxcA/sIeNwO6Kf6ZTseeKfkOIZ2+FV3+AezMwEMUkI1zzMr3f8gnLsLM7C/PCA8vHN8/Mzs6skFIKDQ7ogHfwAzbgjWuObpxOdgz6Up9XcJRH6Mvs+Eljo6UrOQWfoCTSswdnYB0vFhIaXQOZ4B5XLSYJz4V5qibCeQ7hUi0k7WEFzAz3kN7mK2uFNOuTweoeVVkUzbEpgUHKkelzT+o5bPCB/QDP4AT0wAj8MvTcBWXwAqY85lIVtvhqxbMAd+AiNmmdayul95sdkbAIgoxbsQVhRs+EriN9ZQ9bORR24tFXvhX20iZh06LwioR1i8Ia7eGf4c/AJLuCsBuHhIFFYUDCB4vC+8MNuAFjsJP5E/LYa3L9CzAAvNFO16N3nFIAAAAASUVORK5CYII=) ;   
    bottom: 3px;
    height: 22px;  
    position: relative;  
    width: 20px;
}

.work::before {
	clear: both;
	content: "";
	display: table; 
  	left: 15px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAARCAYAAADZsVyDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4BpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMTgwMTE3NDA3MjA2ODExOERCQjhGNzExQzI0RkZBQiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowMTVGQjdFQzJCMEIxMUU1Qjg1OUUwQUVCMTQ1MEM3RiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowMTVGQjdFQjJCMEIxMUU1Qjg1OUUwQUVCMTQ1MEM3RiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNCAoV2luZG93cykiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDphNDAzOTU3My1jY2Y4LTg5NDMtODIzZS00YWQxMDM3YTE0OGEiIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDo4YWQwNmE0Ny1mMzlhLTExZTQtYWQ1OC1kYjc0MmRiMWU1MjMiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5uQsozAAAA8ElEQVR42mL4//+/CBBvBOKf/1HBD6g4SJ6BVAwi1v3HD1aTYzAjkPjMwMDAw4AbfAJifgYSAcjg/0Soe49D/AsQbwfiIiD+iiLznzpgJrag+M9AOQAFJx85QUFUsCJzWPAo/AfEN4D4GVnWYAmv30A8EYhlyElmuML4FxAHQGPaBohjgVgR3ZtEgFvoLk6F2jiRwlRyDNngiVBDyyk09AUoGGEG7wZiZiD2BeI/FBgKKm8sYGXFbSDmB2IdIP5AoWvjkQshdWgJdptCQ3vQSzcmaFBQAjZAgxLFYAEgfkuGYX+B+DoQFwIxK3o6BggwAP2Zk+wS6t1gAAAAAElFTkSuQmCC) ;   
    bottom: 3px;
    height: 17px;  
    position: relative;  
    width: 22px;
}

.contact::before {
	clear: both;
	content: "";
	display: table; 
  	left: 15px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAARCAYAAAAyhueAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4BpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMTgwMTE3NDA3MjA2ODExOERCQjhGNzExQzI0RkZBQiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDozMDNGMUJBQzJCMEIxMUU1Qjg2Mjk2NTY2NDRDRUU4MiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDozMDNGMUJBQjJCMEIxMUU1Qjg2Mjk2NTY2NDRDRUU4MiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNCAoV2luZG93cykiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDphNDAzOTU3My1jY2Y4LTg5NDMtODIzZS00YWQxMDM3YTE0OGEiIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDo4YWQwNmE0Ny1mMzlhLTExZTQtYWQ1OC1kYjc0MmRiMWU1MjMiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6XxQIfAAABCklEQVR42mL8//8/AxYgB8QhQGwPxFpALAXEXED8DYifAfE1ID4IxGuA+BGGbpChSFgLiDcD8d//xIG/UPVayOYgG1gExL//kwdA+qqAmBHZ0Mb/1AEgcxhAJttCw4eRgXIAiiB7JiBRRiUDGaDmFINc+hHI4GOgHvgEcikrA3XBP5Ch56hs6EWQoVOpbOhsBmjaWkqlJLUOZB4snbJSweAVQMyBnqNAOIUMw24DcQiyOSxo4fGXyAR+H4gPAfEqIN6Fro8RqZTiB8UcEMsjyb8F4lQgPg/EbED8BYjfA/F3/NZCnMwGxHuRvPQTiGcBsQha8BCFYYw4IH4LxNuBOB+IJckxDIYBAgwAXLCCjrrCBW8AAAAASUVORK5CYII=) ;   
    bottom: 3px;
    height: 17px;  
    position: relative;  
    width: 21px;
}

.header{
	background: #372b40;
	bottom: 0;
	color: #fff;
	font-size: 14px;
	left: 60px;
	line-height: 1.5;
	max-width: 370px;
	padding: 5px 15px 25px 25px;
	position: absolute;
}

.header-bg {
	background: rgba(46, 36, 54, 0.8);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.header h3 {
	font-size: 18px;
	padding-top: 15px;
}

/* Get Started Button*/
.get-started-wrapper {
	bottom: 40px;
	color: #fff;
	position: absolute;
 	right: 65px;
}

.get-started-wrapper h3 {
	font-size: 18px;
	font-weight: normal;
}

.get-started {
	background: #a33435;
	color: #fff;
	display: block;
	font-size: 18px;
	margin-top: 5px;
	padding: 7px 37px;
	text-decoration: none;
	text-transform: uppercase;
}

.get-started-btn,
.load-more-btn {
	margin: 0 0 1px 3px;
}

/* Services */
#services {
	background: #3c2c45;
	padding-bottom: 25px;
}

#services:after {
	clear: both;
	content: "";
	display: table;
}

.services-title {
	color: #fff;
	font-size: 14px;
	margin-bottom: 100px;
	padding-top: 40px;
}

.services-title h1,
.title-about-us h1,
.our-work-title h1 {
	font-size: 30px;
}

.services-title h1:after,
.title-about-us h1:after,
.our-work-title h1:after {
	background: url(../images/title-border.png);
	clear: both;
	content: "";
	display: table; 
	height: 2px;
	position: relative;
	top: 30px;
	width: 100px;
}

.title {
	color: #fff;
	font-size: 30px;
}

/* Left Column */
.left-column {
	box-sizing: border-box;
	float: left;
	padding: 0 20px 20px 0;
	width: 50%;
}

.left-content{
	color: #fff;
	font-size: 14px;
	padding-bottom: 40px;
}

.left-content-title {
	padding-bottom: 7px;
}

/* Right Column */
.right-column {
	box-sizing: border-box;
	float: left;
	padding: 20px 0 0 85px;
	position: relative;
	width: 50%;
}

.devices {
	max-width: 100%;
}

/* About Us */
#about-us {
	background: #312638;

}

.title-about-us,
.our-work-title {
	color: #fff;
	font-size: 14px;
	margin-bottom: 85px;
	padding-top: 40px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1170px;
}

.about-us-content {
	color: #fff;
	font-size: 14px;
}

.about-us-content h2,
.our-team-title  {
	color: #fff;
	font-size: 18px;
	padding-bottom: 10px;
}

/* Team Section */
.team {
	margin-top: 60px;
	padding-bottom: 70px;
}

.team:after {
	clear: both;
	content: "";
	display: block;
}

.team-item {
	background: #281f2e;
	float: left;
	width: 370px;
}

.team-item:nth-child(3) {
	margin: 0 30px;
}

.img-team {
	margin: 40px 0 20px 90px;
}

.info-title {
	color: #fff;
	text-align: center;
}

.info-title-type {
	color: #a33435;
	padding-bottom: 25px;
	text-align: center;
}

/* Social Icon */
.team-item-social-icons {
	background: #a33435;
}

.team-item-social-icons-wrapper {
	margin: 0 auto;
	width: 132px;
}

.team-item-social-icons-wrapper a {
	display: inline-block;
	margin: 10px 0;
}

.team-item-social-icons-wrapper a:nth-child(2),
#our-work div:nth-child(3) {
	margin: 0 30px;
}

/* Our Work*/
#our-work {
	background: #372b40;
	position: relative;
}

.wrapper:after {
	clear: both;
	content: "";
	display: table;
}

.work-item {
	background: #fff;
	float: left;
	margin-bottom: 150px;
	width: 370px;
}

.work-name {
	color: #281f2e;
	font-size: 18px;
	font-weight: bold;
	padding: 30px 0 15px 0;
	text-align: center;
}

.work-type {
	color: #484848;
	font-size: 14px;
	padding-bottom: 30px;
	text-align: center;
}

/* Load More Button*/
.load-more-wrapper {
	bottom: 40px;
	color: #fff;
	position: absolute;
	right: 65px;
 }

.load-more {
	background: #a33435;
	color: #fff;
	display: block;
	font-size: 18px;
	padding: 13px 50px;
	text-decoration: none;
}


